.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
  
.title {
  font-size: 5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}
  
.subtitle {
  font-size: 2rem;
  color: #666;
  margin-bottom: 30px;
}
  
.card {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.507);
  margin-bottom: 20px;
}
  
.card h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}
  
.card p {
  font-size: 1rem;
  color: #666;
}
body{
  background-image: url(https://www.freepik.com/free-vector/blue-data-technology-background-vector-with-binary-code_16252136.htm#query=html%20background&position=4&from_view=keyword&track=ais_user&uuid=eba31657-3420-4c5f-a9b0-eedc56cfc28e);
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: 25px;
}